@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Acceso rápido:</p>
    <a asp-controller="Collections" asp-action="All" class="btn btn-info">Ver todas las colecciones</a>
    <a asp-controller="UserCollections" asp-action="Index" class="btn btn-success">Mis colecciones seleccionadas</a>
</div>
