@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <p>Gestiona tus colecciones desde aquí:</p>
    <a asp-controller="Collections" asp-action="Index" class="btn btn-primary">Ir a mis colecciones</a>
</div>
